/* 
This is a CSS comment
Shortcut for adding comment is Ctrl/CMD +/
*/
body {
    padding-top: 92px;
    font-family: monospace;
    color: #662E16;
    /* adding background img */
    background-image: url(../images/white_brick_wall.png);
}

/* Box model example */
section.p{
    width: 50%;
    /* Single value: top, bottom, left, right */
    /* 2 values: first value- top/bottom, 2nd value- left and right*/
    padding: 1em .5em;
    /* top  right bottom left */
    margin: 1em 2em 2em 2em;
    border-bottom: 2px solid black;
}

.container{  MIDTERM !!
    /* Always create a container containing everything inside the body tag */
    max-width: 1200px;
    /* top/bottom & left/right */
    margin: 0 auto;
}

img{
    width: 100%;
}

h1{
    color:#8E593A;
}

p{
    background-color:antiquewhite ;
}

/* Selecting multiple elements */
h1, h2, h3, h4 {
    text-decoration: underline;
}

/* Selecting child elements */
nav ul{
    list-style: none;
}
/* Selecting child elements whith multiple levels */
nav ul a {
    display: block;
    color: #662E16;
    text-decoration: none;
    font-size: 1.5rem;
}

nav ul li { 
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
    MIDTERM !!
}

/* Selecting element with ID value */
#treatofweek{
    /* color img repeat postion-x position-y */
    background:#8E593A url(../images/bread.jpg)
    no-repeat center;

    /* background size */
    background-size: cover;

     /* 1.5rem is equal to 1.5 x 16px = 24px */
     font-size: 1.25rem;
     /* 1.25 x 16 = 20px */

     padding: 1em;
    /* 1 x 20px = 20px */
    
    /* viewport based unit */
    /* width: 100vw; */
    /* Scroll wheel bc it has space coming from the parent, it goes out of the screen
    which is not ideal */
    /* height: 100vh */
    /* height is 100% of the browser size and it is dynamic(changes when we change). */
    position:relative;
}
/* 0020 */
.blue-link.large-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blue-link {
    /* em = 1.5 x fontsize */
    padding: 1.5em;
    width: 300px;
    display: block;
    background-color:bisque;
    color: #8E593A;
    text-decoration: none;
}

.large-text{
    font-size: 20px;
}

article,
aside{
    width: 80%; /* % changes depending on browser size, better than px */
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}

aside{
    width: 20%;
}

section{
    clear: both;
}

.white-text{
    color:beige;
}

/* 
Combinators
Direct child selector - will only select child of the parent
*/

/* CSS typography properties */
article>p {
    font-size: 24px;
    font-weight: bold;
    line-height:1.5;
    text-transform: lowercase;
    text-align: center;

}

/* Adjacent sibling selector - Selects the element thats is the very next sibling to the selected element, if any exists.*/

h3+ul{
    border:1px solid black;
}

h3~p{
    text-transform: uppercase;
}
	

/* Attribute Selectors */
[href="#treatofweek"] {
    font-weight: bold;
}

[src="./images/coffee-shop.jpg"]{
    border: 4px solid brown;
}

[src$=".jpg"]{
    border: 4px solid brown;
}

/* fixed navigation*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
}

/* Pseudo Classes */
/* Styling navigation */

nav ul a,
nav ul a:link,
nav ul a:visited{
    background-color: antiquewhite;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul .current,
nav ul a:hover,
nac ul a:focus{
    text-decoration: underline;
}

nav ul a:active{
    box-shadow: 0 0 4px 2px black;
}

/* Position Selectors */
/* first-child and last-child */

aside ul li:first-child{
    font-weight:bold;
}

section ol li:last-child{
    font-weight: bold;
}

/* Styling Table */
table{
    border-collapse: collapse;
}

/* nth-child selector - even/odd */
/* hex color value with 6 characters */
tbody tr:nth-child(even) {
    background-color:#d5836d;;
}

/* Using nth-child with n */
/* where n is 0,1,2,3... until number elements */
table th:nth-child(n),
table td:nth-child(n){
    border: 1px solid black;
}
/* Using a formula in nth child selector */
table td:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.2);
}

/*  
    CSS specificity
    Formula: In-line Style, ID, Class, Tag-name(0,0,0,0)
*/

/* (0,0,0,1) */
footer {
    background-color: aqua;
}
/* (0,0,0,2) */
body footer {
    background-color: orange;}
/* (0,0,1,0) */
.site-footer{
    background-color: antiquewhite;
}
/* (0,0,0,2) */
article h2{
    text-transform: lowercase;
}
/* (0,0,1,1)*/ 
footer.site-footer {
    background-color: darkseagreen;
}
